# Python spesifik istisnalar
__pycache__/
*.pyc
*.pyo

# Django spesifik istisnalar
*.log
*.pot
*.pyc
*.mo
*.pot
*.log
*.db
*.sqlite3

# Media faylları
media/
uploads/

# Ətraf mühit faylları
myenv

# IDE spesifik istisnalar
.vscode/
.idea/

