asgiref==3.8.1
Django==5.0.6
# kivy-deps.angle==0.4.0
pillow==10.3.0
psycopg2-binary==2.9.9
sqlparse==0.5.0
tzdata==2024.1
git+https://github.com/arifogluisa/django-jazzmin.git
# django-jazzmin==3.0.0
